@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins";
}
.cad-layout {
  background: var(--fundo) !important;
  background-image: none !important;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.cad-container {
  padding: 40px;
  width: 100%;
  max-width: 900px;
  margin-left: 350px;
}

.cad-title {
  text-align: center;
  color: var(--laranja);
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 40px;
}

.cad-subtitle {
  color: var(--laranja);
  font-size: 22px;
  font-weight: 600;
}

/* Cabeçalho */
.cad-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cad-close {
  font-size: 22px;
  color: var(--status-cancelado);
  cursor: pointer;
}

/* Formulário */
.cad-form-grid {
  background: var(--fundo) !important;
  background-image: none !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 15px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.cad-input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botões */
.cad-buttons {
  margin-top: 30px;
  gap: 15px;
}

.cad-btn {
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: white;
}

.cad-save {
  background: var(--laranja);
  font-size: 15px;
}

.cad-save:hover {
  background: var(--laranja-secundario);
}

.cad-cancel {
  background: var(--botao-cinza);
}

.cad-cancel:hover {
  background: #a8a6a6;
}

.error-inline {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cad-error {
  color: var(--status-cancelado);
  font-size: 14px;
  font-weight: bold;
}
