@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--fundo);
  color: var(--texto-principal);
}

/* Cores e botões padrão */
:root {
  --fundo: #fff;
  --texto-principal: black;
  --texto-secundario: #606060;
  --laranja: #f6963e;
  --laranja-secundario: #ffa959;
  --laranja-claro: #ffeed9;
  --amarelo: #ffca50;
  --rosa: #ffb6b8;
  --azul: #63a1f0;
  --azul-claro: #bbd6f8;
  --azul-escuro: #1a2738;
  --verde-claro: #c8e6c9;
  --status-ok: #02c3e5;
  --status-concluido: #0eee1d;
  --status-cancelado: #ff0000;
  --botao-cinza: #8f8c8c;
}
body,
html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Faz com que o conteúdo principal empurre o footer */
main {
  flex: 1;
}
