.menu {
  width: 240px; 
  height: 100vh;
  background-color: var(--azul-claro);
  padding: 30px 20px;
  
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-menu {
  width: 140px;
  height: auto;
  margin: 10px 0; 
  display: block;
}

.menu-lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 18px;
  margin: 100px 0 0 0; 
  padding: 0;
}


.menu-link {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 18px;
  color: var(--texto-principal);
  transition: 0.2s;
  font-weight: 600;
  text-align: center; 
  display: block;
}

.menu-link:hover,
.menu-link.active {
  color: var(--fundo);
}