@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins";
}

.mypets-layout {
  background: var(--fundo) !important;
  background-image: none !important;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Container da página */
.pets-container {
  margin-left: 240px;
  flex: 1;
  padding: 40px 70px;
}

/* Título principal */
.pets-title {
  text-align: center;
  color: var(--laranja);
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* Header da área de listagem */
.pets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pets-subtitle {
  color: var(--laranja);
  font-size: 22px;
  font-weight: 600;
}

.btn-cadastrar {
  background-color: var(--laranja);
  color: var(--fundo);
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  transition: 0.2s ease;
}

.btn-cadastrar:hover {
  background-color: var(--laranja);
}

/* Grid dos pets */
.pets-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* CARD */
.pet-card {
  background: #f3f3f3;
  padding: 22px 26px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.pet-name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pet-info p {
  display: flex;
  margin: 3px 0;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 500;
}

/* Ícones de ação */
.pet-actions {
  display: flex;
  gap: 14px;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-icon,
.delete-icon {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.pet-info svg {
  color: var(--laranja);
  font-size: 16px;
  margin-right: 6px;
}

.pet-actions svg {
  color: var(--laranja); /* editar */
  font-size: 20px;
}

.delete-icon svg {
  color: var(--status-cancelado);
  font-size: 18px;
}

/* Paginação */
.pagination {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination span {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--laranja);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.pagination .active {
  background: var(--laranja);
  color: var(--fundo);
  border-color: var(--laranja);
}
