/* Container principal */
.sidebar_Tutor {
  width: 240px;
  height: 100vh;
  background-color: var(--azul-claro);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

/* Logo */
.sidebar_Tutor .logo {
  width: 140px;
  height: auto;
  margin: 10px;
}

.sidebar_Tutor .logo img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Links */
.sidebar-links_Tutor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 100px;
}

.sidebar-links_Tutor a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 18px;
  color: var(--texto-principal);
  transition: 0.2s;
  font-weight: 600;
}

.sidebar-links_Tutor a:hover {
  color: var(--fundo);
}

.sidebar-links_Tutor a.active {
  color: var(--fundo);
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar_Tutor {
    width: 180px;
    padding: 20px;
  }

  .sidebar-links_Tutor a {
    font-size: 16px;
  }
}
