@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


section {
    display: flex;
    flex-direction: row;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #63A1F0;
    color: #ffffff;

    width: 800px;
    padding: 10px 200px 10px 30px;
    border-radius: 10px;
    font-size: 13px;
}

.button-novo {
    background-color: #F6963E;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    width: 110px;
    padding: 8px 35px;
    cursor: pointer;
    font-size: 13px;
}

h1 {
    color: #F6963E;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 250px;
    background-color: #F6963E;
}

li {
    list-style: none;
    margin: 20px 0px;
    color: #ffffff;
    cursor: pointer;
}

ul {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;


}

.infos {
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 4em;
}

.botao1 {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}