@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ---- CONTAINER PRINCIPAL ---- */
.prontuarios-container {
  display: flex;
  flex-direction: row;
}

/* ---- MENU LATERAL ---- */
.prontuarios-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 115vh;
  width: 250px;
  background-color: #f6963e;
}

.prontuarios-menu ul {
  margin-top: 4em;
}

.prontuarios-menu li {
  list-style: none;
  margin: 20px 0;
  color: white;
  cursor: pointer;
}

/* ---- ÁREA DAS INFORMAÇÕES ---- */
.prontuarios-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 4em;
}

.prontuarios-titulo {
  color: #f6963e;
}

/* ---- BOTÃO NOVO ---- */
.prontuarios-botao-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.prontuarios-botao-novo {
  background-color: #f6963e;
  color: white;
  border: none;
  border-radius: 25px;
  width: 110px;
  padding: 8px 35px;
  cursor: pointer;
  font-size: 13px;
}

.prontuarios-link-novo {
  text-decoration: none;
  color: white;
}

.prontuarios-link-novo:hover {
  color: rgb(43, 51, 122);
}

/* ---- CABEÇALHO DA LISTA ---- */
.prontuarios-cabecalho {
  display: flex;
  align-items: center;
  background-color: #63a1f0;
  color: white;
  width: 1000px;
  padding: 10px 150px 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 13px;
}

.prontuarios-coluna {
  width: 200px;
  text-align: center;
  font-weight: 500;
}

/* ---- LISTA ---- */
.prontuarios-lista-container {
  width: 100%;
}
