.form-cadastro div {
  margin: 0;
  padding: 0;
}

.cao {
  height: 100vh;
  width: 70vh;
}

.fundo-cadastro {
  position: absolute;
  width: 140vh;
  height: 100%;
  z-index: -1;
  margin-left: 2.2em;
}

.imagens {
  display: flex;
}

.form-cadastro {
  position: relative;
  width: 100%;
  height: 100vh;
}

.form-cadastro form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 400px;
  text-align: center;

  background: #fff;
  padding: 40px;
  border-radius: 10px;
  z-index: 0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.form-cadastro form::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: inherit;
  background: linear-gradient(90deg, #f6963e, #63a1f0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none;
}

.form-cadastro .input1 {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  height: 50px;

  border-radius: 20px;
  font-size: 1rem;
  border: #007bff solid 1px;
  color: #838383;
   background-color: #ffffff;
}

.form-cadastro button {
  background-color: #007bff;
  padding: 10px 30px;
  width: 150px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}

.form-cadastro button:hover {
  background-color: #0056b3;
}

.inputs-form {
  display: flex;

  .input-margin {
   
    margin: 8px;
    width: 100%;
    height: 50px;
    padding: 12px;

    border-radius: 20px;
    font-size: 1rem;
    border: #007bff solid 1px;
    color: #838383;
    background-color: #ffffff;
  }
}

.form-cadastro h1 {
  margin: 25px 0px;
  color: #f6963e;
}

.botao-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao-link a {
  text-decoration: underline;
  color: #63a1f0;
  margin-top: 15px;
  font-size: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(47%) sepia(90%) saturate(1000%) hue-rotate(180deg);
  cursor: pointer;
}
