.form-cadastro div {
  margin: 0;
  padding: 0;
}

.cao {
  height: 100vh;
  width: 40vw;
}

.fundo-cadastro {
  position: absolute;
  width: 100%;
  height: 100;
  z-index: -1;
  margin-left: 2.2em;
}

.teste {
  width: 100%;
}

.imagens {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.main-cad{
  display: flex;
  border: 1px solid black;
}

.cachorro-tutor {
 border: 1px solid black;
 height: 100vh;
  width: 40vw;

}

.form-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100vh;
  background-image: url("../../../assets/fundo.png");
  border: #0056b3 solid 3px;

}

.form-cadastro .form-cad-tutor {
  text-align: center;
  height: auto;
  width: 400px;

  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.form-cadastro .input1 {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  height: 50px;

  border-radius: 20px;
  font-size: 1rem;
  border: #007bff solid 1px;
  color: #838383;
  background-color: #ffffff;
}

.form-cadastro button {
  background-color: #007bff;
  padding: 10px 30px;
  width: 150px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}

.form-cadastro button:hover {
  background-color: #0056b3;
}

.inputs-form {
  display: flex;

  .input-margin {
    margin: 8px;
    width: 100%;
    height: 50px;
    padding: 12px;

    border-radius: 20px;
    font-size: 1rem;
    border: #007bff solid 1px;
    color: #838383;
    background-color: #ffffff;
  }
}

.form-cadastro h1 {
  margin: 25px 0px;
  color: #f6963e;
}

.botao-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao-link a {
  text-decoration: underline;
  color: #63a1f0;
  margin-top: 15px;
  font-size: 12px;
}

.input-cad-tutor{
  width: 300px;
  height: 30px;
  border-radius: 25px;
  padding: 5px;
  border: #0056b3 1px solid;
  margin: 10px;
}

.input-cad-tutor[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(47%) sepia(90%) saturate(1000%) hue-rotate(180deg);
  cursor: pointer;
}
