@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo {
    width: 100px;
    height: 75px;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

form {

    position: relative;

    border-radius: 20px;
    padding: 2em 2em 1em 2em;

    height: auto;
    width: 100vh;
    margin: 2em;
}

.principal {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2em 2em 1em 2em;


}

form::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 4px;
    border-radius: inherit;
    background: linear-gradient(90deg, #F6963E, #63A1F0);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

.div-1 {
    display: flex;
    justify-content: space-between;

}

.protocolo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 18px;
        color: #F6963E;
    }

    h2 {
        font-size: 15px;

    }
}

.div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
        font-size: 18px;
        color: #F6963E;
    }
}

.div-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;


    .formatacao1 {
        width: 200px;

        p {
            font-size: 10px;
        }
    }

    .formatacao2 {
        width: 100vh;
        height: auto;

        p {
            font-size: 10px;
        }

    }
}

.downloads {
    display: flex;
    justify-content: end;
    width: 85vh;


    img {
        height: 18px;
        width: 18px;
        cursor: pointer;
    }
}

strong {
    color: #63A1F0;
}