/* Fundo da página */
.detalhe-pagina {
  background-color: #FDF3E6;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Card branco principal */
.detalhe-card {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px 40px;
  width: 100%;
  max-width: 950px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* --- Cabeçalho --- */
.detalhe-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 150px;
}

.detalhe-header .logo{
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.detalhe-titulo-protocolo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
}

.detalhe-titulo {
  color: #F89B31;
  font-size: 28px;
  align-items: center;
  justify-content: center;
}

.detalhe-protocolo {
  text-align: right;
  color: #63A1F0;
  font-weight: bold;
  margin-left: 200px;
}

.detalhe-protocolo-numero {
  font-size: 20px;
  font-weight: bold;
  color: rgb(86, 81, 81);
  display: block;
}

/* MUDANÇA: Regra do link de voltar removida (pois o link foi removido) */

/* --- Seções de Conteúdo --- */
.detalhe-secao-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.detalhe-grupo-coluna {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 180px; 
  margin-bottom: 20px;
}

.detalhe-grupo-coluna label {
  color: #63A1F0;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px; 
  
}

.detalhe-grupo-coluna span {
  color: #333;
  font-size: 15px;
  margin-bottom: 10px;
}

.detalhe-titulo-secao {
  color: #F89B31;
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 25px;
}


.detalhe-secao-inline {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  flex-direction: column;
  text-align: left;
  margin-left: 65px;
}

.detalhe-inline-grupo {
  display: block;
}

.detalhe-inline-grupo label {
  color: #63A1F0; 
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}

.detalhe-inline-grupo span {
  color: #333;
  font-size: 15px;
  margin-right: 15px;
}

.detalhe-card::after {
  content: ''; 
  position: absolute;
  left: 0;   
  bottom: 0; 
  width: 100%;
  height: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
  background-image: linear-gradient(
    to right,    
    #F89B31, 
    #4A90E2
  );
}

/* Rodapé */
.detalhe-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.download-icon {
  font-size: 28px;
  color: #63A1F0;
  text-decoration: none;
  font-weight: bold;
}