.novo-prontuario-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.novo-prontuario-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.novo-prontuario-page body {
  background-color: #f6963e;
  height: 100%;
}

.novo-prontuario-page .titulo-prontuario {
  display: flex;
  justify-content: center;
  width: 100%;
}

.novo-prontuario-page .h1-prontuario {
  display: flex;
  justify-content: center;
  background-color: #63a1f0;
  width: 80%;
  margin: 1em 0 0 0;
  border-radius: 10px;
  color: white;
}

.novo-prontuario-page .forms-prontuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3em;
  margin: 2em 0;
}

.novo-prontuario-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 119vh;
  width: 80vh;
  padding: 0.5em;
  background-color: #ffeed9;
  border-radius: 20px;
}

.novo-prontuario-page .garfield {
  width: 130px;
  height: 128px;
}

.novo-prontuario-page .input-Garfield {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.novo-prontuario-page .inputs-1 label {
  font-size: 12px;
  margin: 0.5em 1em 0 0;
}

.novo-prontuario-page .inputs-1 .input-prontuario1 {
  margin: 0.5em;
  height: 25px;
  width: 260px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffffff;
}

.novo-prontuario-page .container-textarea label {
  font-size: 12px;
  margin: 1em 0.8em 0.5em;
}

.novo-prontuario-page .container-textarea .textarea-pront {
  margin: 0.5em;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 420px;
  height: 150px;
  resize: none;
  background-color: #ffffff;
}

.novo-prontuario-page .card-input1 {
  display: flex;
  margin-top: -2em;
}

.novo-prontuario-page .inputs-2 {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.novo-prontuario-page .inputs-2 label {
  font-size: 12px;
  margin: 1em 0.8em 0.5em;
}

.novo-prontuario-page .inputs-2 .input-prontuario2 {
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffffff;
}

.novo-prontuario-page .tutor-garfield {
  width: 80px;
  height: 130px;
}

.novo-prontuario-page .textarrea-1 label {
  margin-left: 1em;
  font-size: 12px;
}

.novo-prontuario-page .textarrea-1 .textarea-pront {
  margin: 0.5em;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 350px;
  height: 150px;
  resize: none;
  background-color: #ffffff;
}

.novo-prontuario-page .inputs-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.novo-prontuario-page .inputs-3 .formato {
  display: flex;
  flex-direction: column;
}

.novo-prontuario-page .inputs-3 .formato label {
  font-size: 12px;
  margin: 0.8em;
}

.novo-prontuario-page .inputs-3 .formato .input-prontuario3 {
  height: 25px;
  width: 150px;
  margin-left: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffffff;
}

.novo-prontuario-page .btn-salvar {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #63a1f0;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  width: 100px;
  padding: 8px 35px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 1em;
}
